//Variables
@use "../utilities/variables" as *;

//Mixin
@use "../utilities/mixin" as *;
.header {
  padding: 20px 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;

  .logo {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .nav a {
    margin-left: 20px;
    text-decoration: none;
    color: $primary;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
