//Variables
@use "../utilities/variables" as *;

//Mixin
@use "../utilities/mixin" as *;

/*mq tablet*/
@media (max-width: 768px) {
  h1 { font-size: 3rem; }
  h2, h3, h4 { font-size: 2rem; }

  .hero-content p {
    padding: 0 10px;
    font-size: 1rem;
  }

  table {
    font-size: .9rem;
  }
}
