//Variables
@use "../utilities/variables" as *;

//Mixin
@use "../utilities/mixin" as *;

nav ul li a {
  font-family: 'Dancing Script', cursive;
  font-size: 1.6rem;
  padding: 12px 24px;
  background: #fff4d4;
  border: 2px solid #d2691e;
  border-radius: 12px;
  color: #8B4513;
  text-align: center;
  transition: .3s ease;
}

nav ul li a:hover {
  background: #d2691e;
  color: white;
  transform: translateY(-4px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .2);
}
