.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
  }
}
