// LISTS
.list-clean {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-icon {
  list-style: none;
  padding-left: 0;

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.4rem;
  }
}

.list-inline {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 1rem;
  }
}
